<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">


<h2 id="weekTitle">Movies of The Week</h2>

<div id="weekWrapper">
	<img id="weeklyMovie">
	<img id="weeklyMovie2">
	<img id="weeklyMovie3">
	<img id="weeklyMovie4">
	<img id="weeklyMovie5">
</div>










<script type="text/javascript" src="javascript/week.js"></script>